h2 {
	text-transform: capitalize;
	font-weight: normal;
	margin: 70px 0 50px 0;
	font-size: 36px;
}

.row-fluid {
	background: #F3F3F3;
}

.menu {
	margin-top: 50px;
}

.block_0 {
	background: url(../img/background_0.jpg) no-repeat;
	background-size: cover;
	height: 715px;
}

.block_1 {
	padding: 0 50px;
}

.block_2 {
	background: url(../img/background_2.jpg) no-repeat;
	background-size: cover;
	height: 853px;
}

.block_3_one {
	background: url(../img/background_3_2.jpg) no-repeat;
	background-size: cover;
	height: 427px;
}

.block_3_two {
	background: url(../img/background_3_1.jpg) no-repeat;
	background-size: cover;
	height: 427px;
}

.p_block_1 {
	width: 300px;
	font-size: 18px;
	line-height: 1.5;
	margin-bottom: 40px;
}

.row-fluid [class*="span"] {
	margin-left: 0;
}

.row-fluid .span4 {
    width: 34.188%;
}

.row-fluid .span5 {
    width: 42.735%;
}
