@font-face {
    font-family: 'AleksandraC';
    src: url('../font/aleksandrac_regular.eot');
    src: url('../font/aleksandrac_regular.eot?#iefix') format('embedded-opentype'),
         url('../font/aleksandrac_regular.woff') format('woff'),
         url('../font/aleksandrac_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

h2 {
	text-transform: capitalize;
	font-weight: normal;
	margin: 70px 0 50px 0;
	font-size: 40px;
	line-height: 1.5;
	width: 380px;
}

body {
	font-family: 'AleksandraC';
}

.main_text {
	margin: 0;
	padding: 70px 0 30px 0px;
	opacity: 1;
}

.row-fluid {
	background: #F3F3F3;
}

.menu {
	margin-top: 70px;
}

.block_0 {
	background: url(../img/background_0.jpg) no-repeat;
	height: 862px;
}

.block_1 {
	padding: 0 50px;
}

.block_2 {
	background: url(../img/background_2.jpg) no-repeat;
	height: 988px;
}

.block_3_one {
	background: url(../img/background_3_2.jpg) no-repeat;
	height: 494px;
}

.block_3_two {
	background: url(../img/background_3_1.jpg) no-repeat;
	height: 494px;
}

.block_4 {
	background: url(../img/background_4.jpg) no-repeat;
	height: 888px;
	position: relative;
}

.block_5 {
	background: url(../img/background_5.jpg) no-repeat;
	height: 888px;
}

.block {
	position: relative;
    overflow: hidden;
	background-size: cover;
}

.p_block_1 {
	width: 330px;
	font-size: 18px;
	line-height: 1.8;
	margin-bottom: 40px;
}

.text_content {
	margin: 0 30px 0 0px;
	line-height: 1.8;
	font-size: 18px;
}

.fixed_size_text {
	max-width: 550px;
}

.row-fluid [class*="span"] {
	margin: 0;
}

.row-fluid .span4 {
    width: 34.188%;
}

.row-fluid .span5 {
    width: 42.735%;
}

.shadow_blok {
	opacity: 0.8;
	height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    height: 100%;
    width: 100%;
}

.shadow_blue {
	background: #2a7c8f;
}

.shadow_yellow {
	background: #eee0c1;
	opacity: 0.9;
}

.shadow_black {
	background: #212d38;
}

.shadow_darkblue {
	background: #1f485d;
	opacity: 0.6;
}

.shadow_gray {
	background: #3f494a;
	opacity: 0.5;
}

.content_block {
	padding: 0 30px 0 60px;
	position: relative;
	z-index: 100;
}

.text_white {
	color: #fff;
}

.text_black {
	color: #262f32;
}

.bolder {
	font-weight: bolder;
}

.button {
	display: inline-block;
	width: 200px;
	height: 33px;
	text-transform: capitalize;
	border-radius: 10px;
	margin: 60px 30px 0 0px;
	text-align: center;
	padding-top: 12px;
}

.button_white {
	border: 1px solid #fff;
	color: #fff;
}

.button_black {
	border: 1px solid #252f31;
	color: #252f31;
}

.main_icon {
	position: absolute;
	top: 625px;
}

.font_mini {
	font-size: 20px;
}

.font_maxi {
	font-size: 44px;
}

.none_otstyp {
	padding: 10px 0 0 0px;
	margin: 0;
}

.info_user {
	width: 275px;
	height: 40px;
	border-radius: 10px;
	margin: 0 3px 0 0;
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	padding: 4px 0 2px 20px;
	font-size: 18px;
}

.message_user {
	width: 580px;
	height: 160px;
	vertical-align: top;
	padding: 15px 0 0 20px;
	resize: none;
	margin-bottom: 160px;
}

.none_size {
	width: 100%;
}

.icon {
	display: block;
	float: left;
	margin-right: 10px;
	width: 48px;
	height: 48px;
	border-radius: 7px;
}

.icon_contact {
	margin-bottom: 30px;
}

.icon_facebook {
	background: url('../img/icon_facebook.png') no-repeat center center #345bb4;
}

.icon_globus {
	background: url('../img/icon_globus.png') no-repeat center center #e64895;
}

.icon_twitter {
	background: url('../img/icon_twitter.png') no-repeat center center #00b4ff;
}
