 /* Код для подключения шрифта */
/* font-family: "metapro-normal"; */
@font-face {
    font-family: "metapro-normal";
    src: url("font/metapro-normal.eot");
    src: url("font/metapro-normal.eot?#iefix")format("embedded-opentype"),
    url("font/metapro-normal.woff") format("woff"),
    url("font/metapro-normal.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* Подложка и общие классы для таблиц */
.podlogka {
	color: #fff;
	font-family: 'metapro-normal';
	background: url(img/background.png) no-repeat center #000;
}

[class^="main-"] {
	width: 1000px;
	margin: 0 auto;
}

/* Шапка */
.main-1 {
	margin-top: 30px;
}

.logo { 
	display: block;
	margin-top: 20px;
}

.slogan {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 1.1;
}

.slogan p {
	font-size: 16px;
	text-transform: none;
}

.chose_text {
	display: block;
	font-size: 24px;
	text-align: center;
	padding: 45px 0 40px 0;
}

/* Полоски по бокам текста */
.chose_text::after,
.chose_text::before {
	content: '';
	display: block;
	width: 320px;
	height: 1px;
	background: #414242;
	position: relative;
}

.chose_text::after {
	bottom: 17px;
}

.chose_text::before {
	left: 685px;
	top: 17px;
}

/* Выбор машины */
.car {
	display: block;
	float: left;
	width: 330px;
	height: 430px;
	background: url(img/test.png) no-repeat 0 0;
	background-size: cover;
	position: relative;
	font-size: 24px;
	text-align: center;
}

.cars span:nth-child(1) {
	left: 62px;
}

.cars span:nth-child(2) {
	left: -19px;
}

.cars span:nth-child(3) {
	left: -100px;
}

/* Поля ввода */
.info_pesone {
	width: 380px;
	height: 25px;
}