 /* Код для подключения шрифта */
/* font-family: "metapro-normal"; */
@font-face {
    font-family: "metapro-normal";
    src: url("font/metapro-normal.eot");
    src: url("font/metapro-normal.eot?#iefix")format("embedded-opentype"),
    url("font/metapro-normal.woff") format("woff"),
    url("font/metapro-normal.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html,
body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

/* Подложка и общие классы для таблиц */
.podlogka {
	background: #000;
	color: #fff;
	font-family: 'metapro-normal';
}

[class^="main-"] {
	width: 1200px;
	margin: 0 auto;
}

/* Шапка */
.main-1 {
	margin-top: 30px;
	background: url(img/background.png) no-repeat 0 0;
}

.logo { 
	display: block;
	margin-top: 20px;
}

.slogan {
	font-size: 36px;
	text-transform: uppercase;
	line-height: 1.1;
	padding-left: 20px;
}

.slogan p {
	font-size: 16px;
	text-transform: none;
}

.chose_text {
	font-size: 24px;
	text-align: center;
	padding-top: 60px;
}

/* Выбор машины */
.cars {
	display: block; 
	width: 1005px;
	margin: 45px auto; 
	padding-left: 140px;
}

.car {
	display: block;
	float: left;
	width: 335px;
	height: 435px;
	background: url(img/test.png) no-repeat 0 0;
	position: relative;
	font-size: 24px;
	text-align: center;
}

.cars span:nth-child(2) {
	left: -85px;
}

.cars span:nth-child(3) {
	left: -170px;
}